# Temporary files
__pycache__
.pytest_cache
__MACOSX
.DS_Store

# IDE files
.idea
.vscode

# Environment
*venv/
*devenv/
*.exe
state.json
requirements_freeze.txt
poetry.lock*

# Config
config.local.json
*backup*

# Other files
share/
DOC/
temp/
TMP/
samples/
allure/
allure_results/
video/
screenshots/
Logs/
logs/
*.log
*.tar
git.txt
